﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Url Not Found";
}

<h1 class="text-danger">Sorry, we cannot find this URL</h1>
<h2 class="text-danger">Please, check the url you provided and try again.</h2>
